<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938609300116-vuphqout700idgqud35rb70t8emhjsp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938609300116-vuphqout700idgqud35rb70t8emhjsp2</string>
	<key>API_KEY</key>
	<string>AIzaSyAyT5ebNFyB2tQM4V7gl01OYV1d-kORKQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>938609300116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacobrozell.Adventures</string>
	<key>PROJECT_ID</key>
	<string>adventure-29523</string>
	<key>STORAGE_BUCKET</key>
	<string>adventure-29523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938609300116:ios:65fa414ef44fa7ef7d9a81</string>
	<key>DATABASE_URL</key>
	<string>https://adventure-29523.firebaseio.com</string>
</dict>
</plist>